body, html {
  height: 100%;

}
body{
  box-sizing: border-box;
}
.parallax {
  /* The image used */
  background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg);

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* adding text */
.text{
  text-align: center;
  color: ;
  padding: 80px;
  height:400px;
  background-color:white;
  font-size:20px;
}

.text2{
  text-align: center;
  padding: 30px;
  font-size:25px;
  padding-bottom: 80px;
}

.text3{
  text-align: center;
  color: white;
  padding: 30px;
  font-size:150%;
  font-family: sans-serif;
  text-indent: 50px;
  letter-spacing: 3px;
   line-height: 1.9;
}

.text4{
  text-align: center;
  color: white;
  padding: 30px;
  font-size:150%;
  font-family: sans-serif;

}

.text5{
  text-align:center;
  padding: 40px;
  font-size:25px;
  margin-top: 100px;
}

/* ending text */

/*  adding imege */
.image{
  background-image: url(https://images.unsplash.com/photo-1544030622-5c2c58b1c463?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80);
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
